1q. In the below elements which of them are values or an expression? eg values can be integer or string and expressions will be mathematical operators.
*
'hello'
-87.8
-
/
+
6

In [ ]:
1s. Values --> 'hello' , -87.8 , 6
    Expression--> * , - , / , +

In [ ]:
2q. What is the difference between string and variable?

In [ ]:
2s. A string is a data type used in programmingn, which is used to represent text rather than numbers. It is comprised of a set of characters that can also contain spaces, symbols and numbers.
    A variable is used to store the data that can be integer, floating point numbers, string or boolean values. 
    For example. 
    a = 20
    b = "hello"
    c = True

3q. Describe three different datatypes.

In [ ]:
3s. The three types of data types are
    * Fundamental data types − These are the predefined data types which are used by the programmer directly to store only one value as per requirement, i.e., integer type, character type, or floating type. For example − int, char, float, etc.
    * Derived data types − These data types are derived using built-in data type which are designed by the programmer to store multiple values of same type as per their requirement. For example − Array, Pointer, function, list, etc.
    * User-defined data types − These data types are derived using built-in data types which are wrapped into a single a data type to store multiple values of either same type or different type or both as per the requirement. For example − Class, Structure, etc.

In [ ]:
4q. What is an expression made up of? What do all expressions do?

4s. An expression is a combination of operators and operands that is interpreted to produce some other value. In any programming language, an expression is evaluated as per the precedence of its operators. So that if there is more than one operator in an expression, their precedence decides which operation will be performed first. 
    
   There are different types of expression:
   1. Constant Expressions: These are the expressions that have constant values only.
   2. Arithmetic Expressions: An arithmetic expressionis a combination of numeric values, operators, and sometimes parenthesis. 
   3. Integral Expressions: These are the kind of expressions that produce only integer results after all computations and type conversions.
   4. Floating Expressions: These are the kind of expressions which produce floating point numbers as result after all computations and type conversions.
   5. Relational Expressions: In these types of expressions, arithmetic expressions are written on both sides of relational operator (> , < , >= , <=).
   6. Logical Expressions: These are kinds of expressions that result in either True or False.

In [ ]:
5q. This assignment statements like spam = 10. What is the difference between expression and statement?

In [ ]:
5s. An “expression” is a combination of values and functions that are combined and interpreted by the compiler to create a new value
    A “statement” is just a standalone unit of execution and doesn't return anything.

In [ ]:
6q. After running the following code, what does 
    the variable bacon contain
    bacon = 22
    bacon +1

In [ ]:
6s. The variable bacon contains the value 22 in the first line code. But, in the the second line line of code even though 1 is added but it is not assigned as new valuefor bacon, the value of bacon remains 22

In [2]:
7q. What should the values of the following two terms be
    'spam' + 'spamspam'
    'spam' * 3

23

In [4]:
7s. The value of both 1st and 2nd line of codes is same
    spamspamspam

'spamspamspam'

In [5]:
8q. Why is eggs a valid variable name while 100 is invalid

'spamspamspam'

In [ ]:
8s. There are some rules for variable naming.
    *A variable name must start with a letter or the underscore character
    *A variable name cannot start with a number
    *A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
    *Variable names are case-sensitive (age, Age, AGE are different variables)
    
    So, variable eggs is valid but variable 100 is invalid

In [ ]:
9q. What three functions can be used to get integer, floating point number, or string version of a value?

In [ ]:
9s. x = 12
    Here the value 12 is of integer datatype. 
    We can convert datatype of 12 into string:
        x = str(12)
    We can convert datatype of 12 into float:
        x = float(12)
    We can convert datatype of 12 into integer:
        x = int(12)

In [8]:
10q. Why does this expression cause an error? How can you fix it?
     'I have eaten' + 99 + 'burritos'

<class 'str'>

In [10]:
10s. Here we get typeerror. Because, the string type cannot be be concatenated with integer type.
     So, we can fix it by converting integer type to string type and then concatenate

<class 'TypeError'>: can only concatenate str (not "int") to str

In [14]:
'I have eaten ' + '99' + ' burritos'
'I have eaten ' + str(99) + ' burritos'

'I have eaten 99 burritos'